MONGODB_URI=mongodb+srv://user:password@example.mongodb.net/
MONGODB_DATABASE=btc
AWS_PROFILE=your-sso-profile
AWS_REGION=us-east-1
BTC_MANFIEST_OUTPUT_DIR=runs
BTC_MANFIEST_FILES_DIR=files
BTC_MANFIEST_TEMPLATES_DIR=templates
