.env
.env.*
!.env.example
global-bundle.pem
*.pem

.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# LibreOffice lock files
.~lock.*#

runs/

files/

*.egg-info/
dist/
build/

curated/*

data/reference/**
!data/reference/.gitkeep
!data/reference/fetch/
!data/reference/fetch/.gitkeep

data/workspace/**
!data/workspace/.gitkeep
!data/workspace/curate/
!data/workspace/curate/.gitkeep
!data/workspace/fetch/
!data/workspace/fetch/.gitkeep

*.log
