MONGODB_URI="mongodb://<username>:<password>@btc-prod-docdb.cluster-cfkw4s6gw569.us-east-1.docdb.amazonaws.com:27017/?tls=true&tlsInsecure=true&tlsCAFile=global-bundle.pem&authSource=admin&retryWrites=false"
MONGODB_DATABASE=dash_production
AWS_PROFILE=your-sso-profile
AWS_REGION=us-east-1
OUTPUT_DIR=data/workspace/curate/runs
FILES_DIR=data/reference
TEMPLATES_DIR=templates/manifests
